<div class="container">

  <mat-card class="sign-up" *ngIf="!showLogin">
    <mat-card-content>
      <h2>Sign Up</h2>
      <form #userSignUp="ngForm"
            class="common-form"
            (ngSubmit)="signUp(userSignUp.value)"
      >
        <mat-form-field>
          <input
            matInput
            type="text"
            class="form-input"
            name="name"
            placeholder="Enter User Name"
            ngModel
            minlength="4"
            maxlength="10"
            #name='ngModel'
            required
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="email"
            class="form-input"
            name="email"
            placeholder="Enter User Email"
            ngModel
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            #email='ngModel'
            required
          />
          <mat-error *ngIf="email.invalid && email.touched ">
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            class="form-input"
            name="password"
            placeholder="Enter User Password"
            ngModel
            #password='ngModel'
            minlength="6"
            maxlength="20"
          />
          <mat-error *ngIf="password.invalid
      &&  password.touched ">
            Your password length must be not less than 4 symbols
          </mat-error>
        </mat-form-field>
        <button mat-button class="form-button" [disabled]="email.invalid || password.invalid">Sign Up</button>
        <p>Already Have Account ?
          <a (click)="openLogin()">Click Here
          </a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="showLogin" class="login">
    <mat-card-content>
      <form
        #userLogin="ngForm"
        (ngSubmit)="login(userLogin.value)"
        class="common-form"
      >
        <h2>Log In</h2>
        <mat-error>
          {{authError}}
        </mat-error>
        <mat-form-field>
          <input matInput
                 class="form-input"
                 placeholder="Email"
                 name="email"
                 ngModel
                 email
                 #email="ngModel"
                 required
          >
          <mat-error *ngIf="email.invalid && email.touched ">
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 class="form-input"
                 type="password"
                 placeholder="Password"
                 name="password"
                 ngModel
                 password
                 minlength="6"
                 maxlength="20"
                 #password="ngModel"
                 required

          >
          <mat-error *ngIf="password.invalid && password.touched ">
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="form-button" [disabled]="!userLogin.form.valid">Login</button>
        <p>Want to Create Account ? <a (click)="openSignUp()">Click Here</a></p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
